<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="lib/vue-2.4.0.js"></script>
    <link rel="stylesheet" href="./lib/bootstrap-3.3.7.css">
</head>

<body>
    <div id="app">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <label>
                    ID:
                    <input type="text" class="form-control" v-model="id">
                </label>
                <label>
                    Name:
                    <input type="text" class="form-control" v-model="name" @keyup.f2="add">
                </label>
                <input type="button" value="添加" class="btn btn-primary" @click="add"> 
                <label>
                        搜索名称关键字:
                        <input type="text" class="form-control" v-model="keywords" v-focus>
                    </label>
            </div>
        </div>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>CTime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in search(keywords)" :key="item.id">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.time | timeope('yyyy-MM-dd')}}</td>
                    <td><a href="#" @click.prevent="del(item.id)">删除</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="app2">
       <h3 v-fontweight="900" v-fontsize="'30'"> {{dt | timeope('yyyy-MM-dd')}}</h3>
    </div>
    <script>
        Vue.filter('timeope' , function(dataStr,pattern=""){
            var dt = new Date(dataStr)
            var y = dt.getFullYear()
            var m = dt.getMonth() + 1
            var d = dt.getDate()
            
            if(pattern.toLowerCase() === ''){
                return `${y}-${m}-${d}`
            }else{
                var hh = dt.getHours()
                var mm = dt.getMinutes()
                var ss = dt.getSeconds()
                return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
            }
        })
        //自定义全局按键修饰符
        Vue.config.keyCodes.f2 = 113
        //Vue.directive()定义全局的指令     其中参数一：指令名称 （前面不需要加v-前缀,调用时需要加）参赛二：是一个对象 有指令相关函数

        Vue.directive('focus',{
            bind:function(el){//当指令绑定到元素上的时候，会立即执行，只执行一次
                // el.focus()
            },
            inserted:function(el){//表示元素插入到DOM中的时候执行，只执行一次
                el.focus()
            },
            updated:function() {//当VNode更新的时候 执行，可能会触发多次
                
            }
        })

        var vm=new Vue({
           el:'#app',
           data:{
               id:'',
               name:'',
               keywords:'',
               list:[
                   {id:1, name:"DB",time:new Date()},
                   {id:2, name:"BM",time:new Date()}
               ]
           },
           methods:{
               add(){
                    if(this.id == '' || this.name == ''){
                        alert("检查你的ID或Name是否添加")
                    }else{
                        var car={id:this.id,name:this.name,time:new Date()};
                        this.list.push(car)
                        this.id= ''
                        this.name= ''
                   }
                   
               },
               del(e){
                   var index = this.list.findIndex(item => {
                    if(item.id==e){
                            return true;
                        }
                   })
                   this.list.splice(index,1);
                    // this.list.some((item,i)=>{
                    //     if(item.id==e){
                    //         this.list.splice(i,1);
                    //         return true;
                    //     }
                    // })
               },
               search(e){
                   return this.list.filter(item => {
                       if(item.name.includes(e)){
                            return item
                       }
                       
                   })
                //   var newList = []
                //   this.list.forEach(item => {
                //       if(item.name.indexOf(e) != -1){
                //           newList.push(item)
                //       }
                //   })
                //   return newList
               }

           }
        });
        
        var vm2=new Vue({
            el : '#app2',
            data:{
                dt:new Date()
            },
            methods:{

            },
            filters:{//定义私有过滤器  过滤器有两个条件  名称和处理函数
                timeope:function(dataStr,pattern){
                    var dt = new Date(dataStr)
                    var y = dt.getFullYear()
                    var m = (dt.getMonth() + 1).toString().padStart(2,'0')
                    var d = dt.getDate().toString().padStart(2,'0')
                    
                    if(pattern.toLowerCase() === ''){
                        return `${y}-${m}-${d}`
                    }else{
                        var hh = dt.getHours().toString().padStart(2,'0')
                        var mm = dt.getMinutes().toString().padStart(2,'0')
                        var ss = dt.getSeconds().toString().padStart(2,'0')
                        return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
                    }
                }

            },
            directives:{//自定义私有指令
                'fontweight':{
                    bind:function(el,weight){
                        el.style.fontWeight = weight.value
                    }
                },
                'fontsize':function(el,size){
                    el.style.fontSize=parseInt(size.value) + 'px'
                }
            }
        })

        // document.getElementById('search').focus()
    </script>
</body>
